<table class="table table-hover table-striped" *ngIf="recetas.length; else noHayRecetas">
	<thead>
		<tr>
			<th>Receta</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let receta of recetas; let indice = index">
			<td [ngClass]="{enAzul: par(indice), enRosado: !par(indice)}">
				<table class="table table-hover">
					<tr (click)="receta.mostrarDescripcion=!receta.mostrarDescripcion">
						<td>{{receta.titulo}}</td>
					</tr>
					<tr [ngClass]="{mostrar: receta.mostrarDescripcion, ocultar: !receta.mostrarDescripcion}">
						<td>{{receta.descripcion}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<ng-template #noHayRecetas>
	<div class="col-6">
		No has ingresado recetas
	</div>
</ng-template>